mixin date-dropdown_filter-double(placeholder, id, position, classModifier)
    .date-dropdown.date-dropdown_filter-double.dropdown(id=id, class=classModifier)
        input(type="text", name=id, placeholder=placeholder, data-position=position, readonly).date-dropdown__input.basic-text
        if block 
            block