include ../pug/mixins.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href='./assets/css/kit.css')
        title Поиск комнаты
    body.basic-text

        header
            +navbar_completed_for-search-room
        main.main.basic-text
            .container.search-room-main
                aside.search-room-main__aside
                    +form-group('даты пребывания в отеле', 'mb-20')
                        +date-dropdown('Выберите даты', 'guest-dates')
                    +form-group('гости', 'with-counter-dropdown mb-30')
                        +counter-dropdown('Сколько гостей', '${firstAndSecondCounter} [гость;гостя;гостей], ${lastCounter} [младенец;младенца;младенцев]', '0')
                            +counter-dropdown__row('взрослые', 'guests-grownup', '0', '12', '0')
                            +counter-dropdown__row('дети',  'guests-children', '0', '12', '0')
                            +counter-dropdown__row('младенцы', 'guest-baby', '0', '12', '0')
                    +form-group('диапазон цены', 'mb-30')
                        +range-slider('500', '30000', '500', '30000', 'range1')
                        .caption-text(style='margin-top: 13.6px;') Стоимость за сутки пребывания в номере
                    +form-group('Checkbox Buttons', 'mb-30')
                        +checkbox('Можно курить', 'can-smoke', '', 'mt-10 mb-10')
                        br
                        +checkbox('Можно с питомцами', 'with-pets', 'checked', 'mb-10')
                        br
                        .checkbox
                            input(type="checkbox", name='with-guests', id='with-guests', checked).checkbox__input
                            label(for='with-guests').checkbox__label-box
                                span.checkbox__label 
                                    |Можно пригласить гостей 
                                    br
                                    |(до 10 человек)
                    +form-group('Доступность', 'mb-30')
                        +checkbox('Широкий коридор', 'wide-corridor', '', 'mt-10 mb-10')
                            |Ширина коридоров в номере не менее 91 см.
                        br
                        +checkbox('Помощник для инвалидов', 'assistant')
                            |На 1 этаже вас встретит специалист  и проводит до номера.
                    +form-group('удобства номера', 'with-counter-dropdown mb-15')
                        +counter-dropdown_no-buttons('Выберите удобства', '${counters[0]} [спальня;спальни;спальней], ${counters[1]} [кровать;кровати;кроватей], ${counters[2]} [ванная комната;ванные комнаты;ванных комнат]', '0')
                            +counter-dropdown__row('спальни', 'bedrooms', '0', '12', '0')
                            +counter-dropdown__row('кровати',  'beds', '0', '12', '0')
                            +counter-dropdown__row('ванные комнаты', 'bathrooms', '0', '12', '0')
                    +checkbox-list('Дополнительные удобства')
                        +checkbox('Завтрак', 'breakfast')
                        +checkbox('Письменный стол', 'desk', 'checked')
                        +checkbox('Стул для кормления', 'feeding-chair', 'checked')
                        +checkbox('Кроватка', 'cot', 'checked')
                        +checkbox('Телевизор', 'tv')
                        +checkbox('Шампунь', 'shampoo')

                .search-room-main__content-wrapper
                    h1.search-room-main__label.widget-title Номера, которые мы для вас подобрали
                    .search-room-main__content
                        +room-card('888', 'люкс', '9 990', '5', '143', '#', 'search-room-main__room-card')
                            .room-card__slide(style="background-image:url(assets/img/room1.jpg)")
                            .room-card__slide(style="background-image:url(assets/img/room2.jpg)")
                        +room-card('76', 'люкс', '15 990', '4', '14', '#', 'search-room-main__room-card')
                            .room-card__slide(style="background-image:url(assets/img/room1.jpg)")
                            .room-card__slide(style="background-image:url(assets/img/room2.jpg)")
                        +room-card('28', '', '1 990', '2', '13', '#', 'search-room-main__room-card')
                            .room-card__slide(style="background-image:url(assets/img/room1.jpg)")
                            .room-card__slide(style="background-image:url(assets/img/room2.jpg)")
                        +room-card('978', 'люкс', '12 990', '4.3', '43', '#', 'search-room-main__room-card')
                            .room-card__slide(style="background-image:url(assets/img/room1.jpg)")
                            .room-card__slide(style="background-image:url(assets/img/room2.jpg)")
                        +room-card('120', 'люкс', '3 990', '2.76', '183', '#', 'search-room-main__room-card')
                            .room-card__slide(style="background-image:url(assets/img/room1.jpg)")
                            .room-card__slide(style="background-image:url(assets/img/room2.jpg)")
                        +room-card('56', 'люкс', '2 990', '3', '288', '#', 'search-room-main__room-card')
                            .room-card__slide(style="background-image:url(assets/img/room1.jpg)")
                            .room-card__slide(style="background-image:url(assets/img/room2.jpg)")
                        +room-card('888', 'люкс', '9 990', '5', '143', '#', 'search-room-main__room-card')
                            .room-card__slide(style="background-image:url(assets/img/room1.jpg)")
                            .room-card__slide(style="background-image:url(assets/img/room2.jpg)")
                        +room-card('76', 'люкс', '15 990', '3', '14', '#', 'search-room-main__room-card')
                            .room-card__slide(style="background-image:url(assets/img/room1.jpg)")
                            .room-card__slide(style="background-image:url(assets/img/room2.jpg)")
                        +room-card('28', '', '1 990', '3', '13', '#', 'search-room-main__room-card')
                            .room-card__slide(style="background-image:url(assets/img/room1.jpg)")
                            .room-card__slide(style="background-image:url(assets/img/room2.jpg)")
                        +room-card('978', 'люкс', '12 990', '4', '43', '#', 'search-room-main__room-card')
                            .room-card__slide(style="background-image:url(assets/img/room1.jpg)")
                            .room-card__slide(style="background-image:url(assets/img/room2.jpg)")
                        +room-card('120', 'люкс', '3 990', '4', '183', '#', 'search-room-main__room-card')
                            .room-card__slide(style="background-image:url(assets/img/room1.jpg)")
                            .room-card__slide(style="background-image:url(assets/img/room2.jpg)")
                        +room-card('56', 'люкс', '2 990', '5', '288', '#', 'search-room-main__room-card')
                            .room-card__slide(style="background-image:url(assets/img/room1.jpg)")
                            .room-card__slide(style="background-image:url(assets/img/room2.jpg)")
                    .search-room-main__pagination
                        .pagination.basic-text.mt-30
                            a(href="#").pagination__link.pagination__link_active 1
                            a(href="#").pagination__link 2
                            a(href="#").pagination__link 3
                            a(href="#").pagination__link ...
                            a(href="#").pagination__link 15
                            a(href="#").pagination__arrow.pagination__arrow_next
                            span.pagination__label 1 – 12 из 100+ вариантов аренды
        footer  
            +prefooter_completed

            +footer_completed
            
        script(src='./assets/js/kit.js')