//include ../blocks/mixin/mixin.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./assets/css/kit.css")
        title UI-kit
    body.body
        //- let text = "UI-KIT"
        //- let i = 0 
        //- for(i = 0; i < 3; i++)
            .wrapper
                include ../blocks/example/example.pug
        //while i <= 5
            .wrapper
                if text == "UI-KIT"
                    +mixin(text)
                    div #{i++}
                else
                    +mixin("ТЕКСТ НЕПРАВИЛЬНЫЙ")
                    div #{i++}
        button.button.button_block Подобрать номер
            span.button__icon arrow_forward

        h2.item-title.mt-30 швошпшк кошутштпшук уштктш ушк 

        .form-group.mt-30
            span.form-group__label Text field
            .text-field
                input(type="text" placeholder="Text").text-field__input
                span.text-field__icon arrow_forward

        .form-group.mt-30
            a(href="#").link.mr-10 Click me
            a(href="#").link.link_faded Click me

        .checkbox.mt-30
            input(type="checkbox" id="chckbx").checkbox__input
            label(for="chckbx").checkbox__label-box
                span.checkbox__label Можно курить
        br
        .checkbox.mt-30
            input(type="checkbox" id="chckbx_rich").checkbox__input
            label(for="chckbx_rich").checkbox__label-box
                strong.checkbox__label.checkbox__label_rich Можно курить
                span.checkbox__label Lorem ipsum dolor sit amet consectetur,  
                    br
                    |adipisicing elit. Quae, sequi!
        br
        .radio-button.mt-30
            input(type="checkbox" id="radio" checked).radio-button__input
            label(for="radio").radio-button__label Можно курить

        br
        .toggle.mt-30
            input(type="checkbox" id="toggle" checked).toggle__input
            label(for="toggle").toggle__label Можно курить
        
        .form-group.mt-30
            button.like-button.like-button_liked.mr-10
                span.like-button__counter 12
            button.like-button        
                span.like-button__counter 1

        .rating.mt-30
            span.rating__star.rating__star_active
            span.rating__star.rating__star_active
            span.rating__star.rating__star_active
            span.rating__star.rating__star_active
            span.rating__star

        .pagination.mt-30
            a(href="#").pagination__arrow.pagination__arrow_prev
            a(href="#").pagination__link 1
            a(href="#").pagination__link.pagination__link_active 2
            a(href="#").pagination__link 3
            a(href="#").pagination__link ...
            a(href="#").pagination__link 15
            a(href="#").pagination__arrow.pagination__arrow_next
            span.pagination__label 1 – 12 из 100+ вариантов аренды

        .dropdown.mt-30.dropdown_collapsed
            .dropdown__field(data-placeholder='Сколько гостей', data-value-format='${total} гостей') Сколько гостей
            .dropdown__expand-icon
            .dropdown__list 
                .dropdown__row
                    .dropdown__counter-label взрослые
                    .counter
                        button.counter__handler.counter__handler_minus
                        input(type="number", name="count1", value='0', min='0' max='12', readonly).counter__input
                        button.counter__handler.counter__handler_plus
                .dropdown__row
                    .dropdown__counter-label дети
                    .counter
                        button.counter__handler.counter__handler_minus
                        input(type="number", name="count2", value='0', min='0' max='12', readonly).counter__input
                        button.counter__handler.counter__handler_plus
                .dropdown__row
                    .dropdown__counter-label младенцы
                    .counter
                        button.counter__handler.counter__handler_minus
                        input(type="number", name="count3", value='0', min='0' max='12', readonly).counter__input
                        button.counter__handler.counter__handler_plus
                .dropdown__buttons
                    button.dropdown__button.dropdown__button_clear Очистить
                    button.dropdown__button Применить
        br
        .dropdown.mt-30.dropdown_collapsed
            .dropdown__field(data-placeholder='Удобства', data-value-format='${counters[0]} спальни, ${counters[1]} кровати, ${counters[2]} ванные комнаты') Удобства
            .dropdown__expand-icon
            .dropdown__list 
                .dropdown__row
                    .dropdown__counter-label спальни
                    .counter
                        button.counter__handler.counter__handler_minus
                        input(type="number", name="count1", value='0', min='0' max='12', readonly).counter__input
                        button.counter__handler.counter__handler_plus
                .dropdown__row
                    .dropdown__counter-label кровати
                    .counter
                        button.counter__handler.counter__handler_minus
                        input(type="number", name="count2", value='0', min='0' max='12', readonly).counter__input
                        button.counter__handler.counter__handler_plus
                .dropdown__row
                    .dropdown__counter-label ванные комнаты
                    .counter
                        button.counter__handler.counter__handler_minus
                        input(type="number", name="count3", value='0', min='0' max='12', readonly).counter__input
                        button.counter__handler.counter__handler_plus
                .dropdown__buttons
                    button.dropdown__button.dropdown__button_clear Очистить
                    button.dropdown__button Применить
        
        ul.bullet-list.mt-30
            li.bullet-list__item Нельзя с питомцами
            li.bullet-list__item Без вечеринок и мероприятий
            li.bullet-list__item Время прибытия — после 13:00, а выезд до 12:00

        .text-with-icon.mt-30
            .text-with-icon__icon insert_emoticon
            .text-with-icon__text 
                strong Комфорт 
                br
                span Шумопоглощающие стены

        .testimonial.mt-30
            .testimonial__right
                img(src="assets/img/testimonial.jpg", alt="testimonial").testimonial__photo 
                button.like-button.like-button_liked
                    span.like-button__counter 12
            div
                .testimonial__name
                    strong Мурад Сарафанов 
                    br
                    span 5 дней назад
                .testimonial__text
                    |Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.

        .checkbox-list.mt-30
            .checkbox-list__label expandable checkbox list
                .checkbox-list__expand-icon
            .checkbox-list__list
                .checkbox
                    input(type="checkbox" id="chckbx1").checkbox__input
                    label(for="chckbx1").checkbox__label-box
                        span.checkbox__label Можно курить
                .checkbox
                    input(type="checkbox" id="chckbx2").checkbox__input
                    label(for="chckbx2").checkbox__label-box
                        span.checkbox__label Можно курить
                .checkbox
                    input(type="checkbox" id="chckbx3").checkbox__input
                    label(for="chckbx3").checkbox__label-box
                        span.checkbox__label Можно курить
                .checkbox
                    input(type="checkbox" id="chckbx4").checkbox__input
                    label(for="chckbx4").checkbox__label-box
                        span.checkbox__label Можно курить

        .range-slider.mt-30
            .range-slider__value
            .range-slider__input

        .date-dropdown.mt-30
            input(type="text", name="date-picker", placeholder="ДД.ММ.ГГ", readonly).date-dropdown__input
            .date-dropdown__expand-icon

        .date-dropdown.date-dropdown_filter.mt-30
            input(type="text", name="date-picker234", placeholder="ДД ММ - ДД ММ", readonly).date-dropdown__input
            .date-dropdown__expand-icon