mixin date-dropdown(placeholder, id, position, classModifier)
    .date-dropdown.dropdown(class=classModifier, data-position=position)
        .date-dropdown__input-container
            input(type="text", name=id, placeholder=placeholder, id=id, readonly).date-dropdown__input.basic-text
            .date-dropdown__icon.dropdown__icon.dropdown__icon_block
        input(type="text", name='hidden').date-dropdown__hidden

include ./_double/date-dropdown_double.pug